@import "the-new-css-reset/css/reset.css";

:root {
    /*Color*/
    --color-background: #ebeff0;
    /*--color-text: #3e5063; !* Original *!*/
    --color-text: #25303b; /* Adapted */
    --color-text-light: #9eb2c2;
    --color-primary: #5192ba;
    --color-accent: #01baf2;

    /* Typography */
    --font-family: 'Raleway', sans-serif;
    --base-font-size: 16px;
    --base-line-height: 1.25;
    --type-scale-ratio: 1.3333;

    /*TODO: Add more variables for typography scaling*/

    --font-size--1: calc(1rem / var(--type-scale-ratio) / var(--type-scale-ratio));
    --font-size--2: calc(1rem / calc(var(--type-scale-ratio) * 2));

}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
